@import "../../global.scss";
@import "../../components_styles/redline_styles/redline.scss";
@import "../../components_styles/modal_styles/modal_styles.scss";
@import "../../components_styles/loading_styles/loading_styles.scss";
@import "../../components_styles/burger_styles/burger_styles.scss";
@import "../../components_styles/footer_styles/footer_styles.scss";

@font-face {
  font-family: Pt;
  src: url("../../../assets/fonts/PTSans-Regular.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Pt;
  src: url("../../../assets/fonts/PTSans-Bold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: Pt;
  src: url("../../../assets/fonts/PTSans-Bold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: Montserrat;
  src: url("../../../assets/fonts/MontserratAlternates-ExtraBold.ttf");
  font-weight: 800;
}

.nonActive {
  animation: card_hide 0.7s ease-in-out;
  display: none;
}

.pagination {
  @include flex(row, center, center);
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 20px;
  color: #e12424;
  text-decoration: underline;
  gap: 10px;

  @include adaptive(small-pc) {
    @include flex(column, center, center);
  }
}

.controls {
  background-color: $true-white;
  border: none;

  @include adaptive(table) {
    margin-top: 510px;
  }
}

.desctop {
  display: flex;
  @include adaptive(table) {
    display: none;
  }
}

.mobile__block {
  @include flex(row, 0, center);
  position: absolute;
  top: 0px;
  left: -400px;
  gap: 20px;
  // background-color: #161a1d86;
  width: 100%;
  transition: 1s ease-in-out;
  z-index: 3;
  display: none;

  @include adaptive("table") {
    display: flex;
  }
}

.mobile__animation {
  transition: 1s ease-in-out;
  left: 0;
}

.mobile__shadow__hide {
  opacity: 0;
  transition: 1s ease-in-out;
}

.mobile__shadow {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #161a1d79;
  z-index: 2;
  opacity: 1;
  transition: 1s ease-in-out;
  display: none;

  @include adaptive("table") {
    display: flex;
    height: 1200px;
  }
}

.mobile__display__none {
  display: none;
}

.mobile__arrow {
  position: absolute;
  top: 45%;
  left: 0;
  transition: 1s ease-in-out;
  transform: rotate(180deg);
  z-index: 3;
  display: none;

  @include adaptive("table") {
    display: flex;
  }

  &__img {
    transition: 1s ease-in-out;
    width: 40px;
    height: 40px;
  }
}

.arrow__animation {
  transition: 1s ease-in-out;
  transform: rotate(0deg);
  left: 230px;
}

.arrow-reverse {
  transform: rotate(180deg);
  transition: 0.4s ease-in-out;

  &:hover {
    transform: translateX(20px) rotate(180deg);
  }
}
.arrow {
  transition: 0.4s ease-in-out;

  &:hover {
    transform: translateX(-20px);
  }
}

.mobile {
  height: 90vh;
  max-width: 200px;
  width: 200px;
  background-color: $true-white;
}

@keyframes card_visible {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes card_hide {
  0% {
    display: flex;
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes mobile-filters-open {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(200px);
  }
}

@keyframes mobile-filters-close {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(-400px);
  }
}
