* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Pt;
  font-weight: 800;
  cursor: default;
  scroll-behavior: smooth;
  list-style-type: none;
}

@font-face {
  font-family: Pt;
  src: url("../../../assets/fonts/PTSans-Regular.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Pt;
  src: url("../../../assets/fonts/PTSans-Bold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: Montserrat;
  src: url("../../../assets/fonts/MontserratAlternates-ExtraBold.ttf");
  font-weight: 800;
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: 10px;
  height: 90vh;
  overflow: scroll;
  box-shadow: 0px 4px 9.9px -5px rgba(0, 0, 0, 0.6588235294);
}

.admin__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #d00000;
  padding: 15px;
}
.admin__title_text {
  color: #fff;
}
.admin__title_link {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.admin__title_users {
  margin-top: 3%;
  margin-bottom: 3%;
}

.users {
  background-color: #d00000;
  color: #fff;
  font-size: 20px;
  gap: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  width: 100%;
  height: 300px;
  overflow-x: scroll;
  padding: 10px;
}
.users__block {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: 10%;
  width: 20%;
  border-radius: 10px;
  padding: 5px;
  transition: all 0.4s ease-in-out;
}
.users__block:hover {
  background-color: #ff3c3c;
}

.new_card {
  padding: 30px;
  height: 80vh;
}
.new_card__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.new_card__form-input {
  width: 50%;
  border: 1px solid rgba(252, 106, 106, 0.7254901961);
  padding: 20px;
  border-radius: 20px;
  outline: none;
  box-shadow: 0px 4px 9.9px -5px rgba(0, 0, 0, 0.2509803922);
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.137254902);
  transition: all 0.4s ease-in-out;
}
.new_card__form-input-big {
  height: 100px;
  word-break: break-all;
  resize: none;
}
.new_card__form-input::-moz-placeholder {
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.new_card__form-input::placeholder {
  transition: all 0.4s ease-in-out;
}
.new_card__form-input:hover {
  border: 1px solid rgba(225, 36, 36, 0.2470588235);
}
.new_card__form-input:hover::-moz-placeholder {
  color: rgba(225, 36, 36, 0.7254901961);
}
.new_card__form-input:hover::placeholder {
  color: rgba(225, 36, 36, 0.7254901961);
}

.red-line {
  padding-left: 0px;
  padding-right: 10px;
  padding-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: 0;
  align-items: 0;
  height: 100vh;
}
@media (max-width: 768px) {
  .red-line {
    height: 150vh;
  }
}
.red-line__marshruts {
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: center;
  max-width: 80vw;
  width: 100%;
}
.red-line__marshruts__card-box {
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: 0;
  gap: 100px;
  width: 100%;
  height: 50vh;
  margin-top: 50px;
  -o-object-fit: contain;
  object-fit: contain;
}
.red-line__marshruts__card-box_small-card-box {
  width: 100%;
  height: 50vh;
  position: relative;
}
.red-line__marshruts__card-box_card {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: 0;
  align-items: 0;
  gap: 30px;
  border-radius: 10px;
  transition: 0.6s ease-in-out;
}
.red-line__marshruts__card-box_card:hover {
  background-color: rgba(252, 87, 87, 0.6588235294);
}
@media (max-width: 768px) {
  .red-line__marshruts__card-box_card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 467px) {
  .red-line__marshruts__card-box_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.red-line__marshruts__card-box_card:hover {
  background-color: rgba(148, 148, 148, 0.6588235294);
}
.red-line__marshruts__card-box_card.active {
  animation: card_visible 0.7s ease-in-out;
  opacity: 1;
}
.red-line__marshruts__card-box_card-columnbox {
  width: 200px;
}
.red-line__marshruts__card-box_card-map {
  margin-bottom: 16px;
}
.red-line__marshruts__card-box_card-description {
  border-radius: 5px;
  width: 200px;
  height: 132px;
  color: #d00000;
  font-size: 15px;
  letter-spacing: 1px;
}
.red-line__marshruts__card-box_card-img {
  border-radius: 5px;
  overflow: hidden;
  width: 300px;
  height: 300px;
}
@media (max-width: 768px) {
  .red-line__marshruts__card-box_card-img {
    width: 200px;
    height: 200px;
  }
}
.red-line__marshruts__card-box_card-img img {
  display: block;
  height: 100%;
}

.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.drop-container-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color 0.2s ease-in-out;
}
.drop-container:hover {
  background: #eee;
  border-color: #111;
}
.drop-container:hover .drop-title {
  color: #222;
}

.card__button {
  width: 100%;
  margin-top: 30px;
}
.card__button__box {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card__button__box-submit {
  text-decoration: none;
  padding: 25px 40px 25px 40px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 9.9px -5px rgba(0, 0, 0, 0.2509803922);
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.137254902);
  transition: all 0.4s ease-in-out;
  font-size: 20px;
}
.card__button__box-submit:hover {
  color: rgba(225, 36, 36, 0.7254901961);
  border: 1px solid rgba(225, 36, 36, 0.2470588235);
}

.active__loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@keyframes loading-complete-animation {
  0% {
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}
.loadingComplete {
  animation: loading-complete-animation 0.7s ease-in-out;
  display: none;
}

.loading {
  overflow-x: hidden;
  background-color: #fff;
  width: 99vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.loading__circle {
  width: 50px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  animation: loading-animation 0.7s ease-in-out infinite;
}

@keyframes loading-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.cube {
  width: 25px;
  height: 25px;
  border-radius: 50px;
}

.first,
.four {
  background-color: #d00000;
}

.second,
.third {
  background-color: #fff;
}
