* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Pt;
  font-weight: 800;
  cursor: default;
  scroll-behavior: smooth;
  list-style-type: none;
}

.active__loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.loading-complete {
  animation: loading-complete-animation 0.1s ease-in-out;
  display: none;
}

.loading {
  overflow-x: hidden;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
}
.loading__circle {
  width: 50px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  animation: loading-active 0.7s ease-in-out infinite;
}

@keyframes loading-active {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.cube {
  width: 25px;
  height: 25px;
  border-radius: 50px;
}

.first,
.four {
  background-color: #d00000;
}

.second,
.third {
  background-color: #fff;
}

@keyframes loading-complete-animation {
  0% {
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}