@import "../../global.scss";

@font-face {
  font-family: Pt;
  src: url("../../../assets/fonts/PTSans-Regular.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Pt;
  src: url("../../../assets/fonts/PTSans-Bold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: Montserrat;
  src: url("../../../assets/fonts/MontserratAlternates-ExtraBold.ttf");
  font-weight: 800;
}

.profile {
  @include flex(row, center, center);
  background-color: #eee;
  height: 100vh;

  @include adaptive("mobile") {
    @include flex(row, none, center);
    height: 900px;
  }

  &__block {
    background-color: $true-white;
    width: 50%;
    height: 70%;
    border-radius: 10px;
    box-shadow: 0px 4px 9.9px -5px #00000040;

    @include adaptive("mobile") {
      width: 100%;
      height: 700px;
    }

    &_title {
      @include flex(row, center, center);
      padding: 10px;
      width: 100%;
      height: 10%;
      gap: 5%;
      background-color: #e12424;
      border-radius: 10px 10px 0px 0px;

      &_paragraph {
        color: $true-white;
        font-size: 20px;
      }
    }

    &_information {
      @include flex(row, none, none);
      height: 40%;

      &_photo {
        width: 140%;

        @include adaptive(table) {
          display: none;
        }

        &_img {
          width: 100%;
          height: 100%;
          border-radius: 0 10px 10px 0;
        }
      }

      &_info {
        @include flex(column, none, none);
        padding: 10px;
        width: 100%;
        gap: 10px;
      }

      &_orders {
        height: 100%;

        &_list {
          height: 28%;
          overflow: scroll;
          overflow-x: hidden;
          padding: 3px;
          border-radius: 5px;
        }

        &_title {
          font-size: 20px;
        }

        &_text {
          color: #4e4d4d;
        }
      }
    }

    &_new_order {
      @include flex(row, none, none);
      width: 100%;
      height: 50%;

      &_button {
        box-shadow: 0px 4px 9.9px -5px #00000040;
        transition: all 0.4s ease-in-out;
        border: 1px solid #e124241e;
        border-radius: 10px;
        background-color: $true-white;
        height: 40px;

        &:hover {
          border: 1px solid #e12424bb;
        }
      }

      &_save {
        box-shadow: 0px 4px 9.9px -5px #00000040;
        transition: all 0.4s ease-in-out;
        border: 1px solid #e124241e;
        border-radius: 10px;
        background-color: #e12424;
        color: $true-white;
        font-size: 15px;
        height: 100px;

        &:hover {
          color: #f79f9f;
        }
      }

      &_title {
        font-size: 30px;
        text-align: center;
        color: #e12424;
      }

      &_get_order {
        padding: 10px;
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 10%;

        @include adaptive(table) {
          width: 100%;
        }
      }

      &_photo {
        width: 100%;

        @include adaptive(table) {
          display: none;
        }

        &_img {
          border-radius: 10px;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.exit {
  position: absolute;
  top: 10px;
  right: 20px;
  transition: all 0.4s ease-in-out;

  &:hover {
    transform: translate(10px);
  }

  &__text {
    color: $light-red;
    font-size: 30px;

    @include adaptive("mobile") {
      font-size: 20px;
    }
  }
}

.back {
  @include flex(row, center, center);
  position: absolute;
  top: 10px;
  left: 10px;
  gap: 20px;
  transition: all 0.4s ease-in-out;

  &:hover {
    transform: translate(-10px);
  }

  &__arrow {
    width: 30px;
    height: 30px;

    @include adaptive("mobile") {
      width: 20px;
      height: 20px;
    }
  }

  &__text {
    font-size: 30px;
    color: #e12424;

    @include adaptive("mobile") {
      font-size: 20px;
    }
  }
}

.profile__input {
  width: 100%;
  border: 1px solid #cacacab9;
  padding: 10px;
  border-radius: 20px;
  outline: none;
  box-shadow: 0px 4px 9.9px -5px #00000040;
  color: black;
  border: 1px solid #00000023;
  transition: all 0.4s ease-in-out;

  &::placeholder {
    transition: all 0.4s ease-in-out;
  }

  &:hover {
    &::placeholder {
      color: $red;
    }
    border: 1px solid #e124243f;
  }
}

.active__loading {
  @include flex(row, center, center);
}

.loading-complete {
  animation: loading-complete-animation 0.7s ease-in-out;
  display: none;
}

.loading {
  background-color: $true-white;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;

  &__circle {
    width: 50px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    animation: loading-active 0.7s ease-in-out infinite;
  }
}

.cube {
  width: 25px;
  height: 25px;
  border-radius: 50px;
}

.first,
.four {
  background-color: $light-red;
}

.second,
.third {
  background-color: $true-white;
}

.visible {
  opacity: 1;
}

@keyframes loading-complete-animation {
  0% {
    @include flex(row, center, center);
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}

@keyframes loading-active {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
