.red-line {
  @include container(0px, 10px, 0, padding);
  @include flex(row, 0, 0);
  height: 100vh;

  @include adaptive(table) {
    height: 1200px;
    padding-right: 0px;
    @include flex(row, center, 0);
  }

  &__big__text {
    @include flex(column, 0, 0);
    max-width: 20vw;
    border-right: #e12424 solid 10px;

    @include adaptive(mobile) {
      border-right: #e12424 solid 4px;
      border-bottom: #e12323 solid 4px;
    }

    &-line {
      height: 10px;
      border: none;
      background-color: $light-red;
      margin-bottom: 20px;
    }

    &_button {
      transition: 0.4s ease-in-out;
      width: 50%;
      font-size: 20px;
      margin: 0 auto;
      background-color: $true-white;
      border: 1px solid #cfcece;
      color: $light-red;
      height: 30px;
      border-radius: 20px;
      margin-bottom: 20px;
      margin-top: 20px;

      @include adaptive(table) {
        font-size: 15px;
        height: 40px;
        width: 100%;
      }

      &:hover {
        background-color: $light-red;
        color: $true-white;
      }
    }

    &_inputbox {
      @include flex(row, space-between, 0);
      margin: 0 auto;
      margin-bottom: 10px;
      width: 65%;

      @include adaptive(table) {
        @include flex(column, space-between, 0);
        gap: 20px;
      }
    }

    &_colum__ceck__buttons {
      @include flex(column, center, center);
      gap: 20px;
    }

    &_check__button__box {
      @include flex(row, center, center);
      gap: 5px;
    }

    &-search__box {
      @include flex(row, center, 0);
    }

    &-label {
      margin: 0 auto;
      font-size: 20px;
      color: #e12424;

      @include adaptive(table) {
        font-size: 18px;
        text-align: center;
      }
    }

    &-input {
      font-family: "Pt";
      font-weight: 800;
      color: #1d1d1d;
      height: 40px;
      border: 2px solid #b4b4b4;
      border-radius: 20px;
      width: 90%;
      padding: 8px;
      outline: 0;
      transition: 0.6s ease-in-out;
      margin-bottom: 20px;

      &:focus {
        background-color: #ececec;
      }
    }

    &-title {
      color: $true-white;
      background-color: #e12424;
      font-size: 60px;
      margin-bottom: 20px;
      text-align: center;

      @include adaptive(small-pc) {
        font-size: 25px;
      }

      @include adaptive(table) {
        font-size: 20px;
      }
    }

    &-text {
      @include flex(column, 0, 0);
      padding-left: 10px;
      gap: 10px;
      font-size: 20px;
      color: #e12424;
      letter-spacing: 2px;
      overflow-y: scroll;
      overflow-x: visible;

      @include adaptive(table) {
        padding-left: 2px;
        width: 95%;
      }

      @include adaptive("mobile") {
        padding: 0;
        width: auto;
        height: 355px;
        overflow: scroll;
      }

      a {
        @include adaptive(table) {
          font-size: 15px;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__marshruts {
    @include flex(column, 0, center);
    max-width: 80vw;
    width: 100%;

    &_container {
      width: 100%;
    }

    &-title {
      color: $light-red;
      font-size: 60px;
      text-align: center;
      margin-bottom: 30px;

      @include adaptive(table) {
        font-size: 30px;
      }
    }

    &-text {
      font-size: 30px;
      color: $light-red;
      margin-top: 70px;
      text-align: center;

      @include adaptive(table) {
        margin-top: 20px;
        font-size: 20px;
      }
    }

    &__line {
      @include flex(column, center, center);
      position: relative;

      &-img {
        @include adaptive(small-pc) {
          display: none;
        }
      }
    }

    &-circle {
      @include flex(row, center, center);
      position: absolute;
      top: -20px;
      background-color: $light-red;
      color: $true-white;
      font-size: 20px;
      width: 50px;
      height: 50px;
      border-radius: 50px;

      @include adaptive(table) {
        width: 30px;
        height: 30px;
      }
    }

    &__card-box {
      @include flex(column, 0, center);
      gap: 100px;
      width: 100%;
      height: 50vh;
      margin-top: 50px;
      object-fit: contain;

      &_small-card-box {
        width: 100%;
        height: 50vh;
        position: relative;
      }

      &_card {
        width: 100%;
        @include flex(row, center, 0);
        position: absolute;
        top: 0;
        gap: 30px;
        opacity: 0;
        transition: 0.6s ease-in-out;

        @include adaptive(table) {
          @include flex(row, center, center);
        }

        @include adaptive(mobile) {
          @include flex(column, center, center);
        }

        &.active {
          animation: card_visible 0.7s ease-in-out;
          opacity: 1;
        }

        &-columnbox {
          width: 200px;
        }

        &-map {
          margin-bottom: 16px;
        }

        &-description {
          border-radius: 5px;
          width: 200px;
          height: 132px;
          color: $light-red;
          font-size: 15px;
          letter-spacing: 1px;

          @include adaptive("mobile") {
            text-align: center;
          }
        }

        &-img {
          border-radius: 5px;
          overflow: hidden;
          width: 300px;
          height: 300px;

          @include adaptive(table) {
            width: 200px;
            height: 200px;
          }

          img {
            display: block;
            height: 100%;
          }
        }
      }
    }
  }
}
