@import "../../global.scss";

@font-face {
  font-family: Pt;
  src: url("../../../assets/fonts/PTSans-Regular.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Pt;
  src: url("../../../assets/fonts/PTSans-Bold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: Pt;
  src: url("../../../assets/fonts/PTSans-Bold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: Montserrat;
  src: url("../../../assets/fonts/MontserratAlternates-ExtraBold.ttf");
  font-weight: 800;
}

.header {
  height: 10vh;

  &__button {
    border: none;
    background-color: $true-white;
    border-radius: 10px;
    padding: 10px;

    &-link {
      text-decoration: none;
      color: #e12424;
    }
  }

  &__container {
    @include flex(row, space-between, center);
    @include container(2%, 2%, 0, padding);
    height: 100%;
  }

  &__logo {
    img {
      width: 120px;
      height: 50px;
    }
  }

  &__links {
    @include flex(row, space-between, center);
    height: 100%;

    @include adaptive(small-pc) {
      display: none;
    }
  }

  &__menu {
    @include flex(row, center, center);
    height: 100%;
  }

  &__buttons {
    @include flex(row, space-between, center);
    gap: 10px;
  }

  &__burger {
    &-img {
      width: 50px;
      height: 50px;
    }
  }

  &__link {
    @include flex(row, center, center);
    padding: 25px;
    text-decoration: none;
    color: $red-white;
    font-size: 20px;
    letter-spacing: 5px;
    height: 100%;
    transition: 0.4s ease-in-out;

    &:hover {
      color: $light-red;
    }
  }
}
.about__background_main {
  height: 100vh;
  background: url("../../../assets/img//4562a1a6-99c7-40ee-bbff-9ca955979e7e.png")
    no-repeat center center/cover;
  transition: all 0.4s ease-in-out;
}

.zloiEKB {
  height: 100vh;
  background: url("../../../assets/img//besov.webp") no-repeat center
    center/cover;
  transition: all 0.4s ease-in-out;
}

.about__city {
  @include container(5%, 5%, 13%, padding);
  @include flex(column, 0, center);
  gap: 3rem;

  &__title {
    font-size: 100px;
    color: #e5383b;
    letter-spacing: 10px;

    @include adaptive(table) {
      font-size: 50px;
    }

    @include adaptive("mobile") {
      font-size: 28px;
    }
  }

  &__text {
    max-width: 500px;
    font-size: 30px;
    color: $red-white;
    letter-spacing: 5px;
    text-align: center;

    @include adaptive(table) {
      font-size: 20px;
    }
  }
}

.big_map {
  @include flex(row, space-around, 0);
  @include container(5%, 5%, 5%, padding);
  overflow: hidden;
  padding-bottom: 5%;

  @include adaptive("mobile") {
    @include flex(column, space-around, 0);
  }

  &__hide {
    @include flex(row, space-between, center);
    transition: 0.4s ease-in-out;

    @include adaptive("mobile") {
      height: 470px;
      @include flex(column, space-between, center);
    }
  }

  &__text {
    @include flex(column, center, center);
    text-align: center;
    gap: 30px;
    max-width: 60vw;
    transition: 0.4s ease-in-out;

    @include adaptive(small-pc) {
      max-width: 30vw;
    }

    @include adaptive("mobile") {
      max-width: 100vw;
      width: auto;
    }

    &-title {
      color: #e12424;
      font-family: Montserrat;
      font-size: 40px;
      font-weight: 800;

      @include adaptive(small-pc) {
        font-size: 20px;
      }
    }

    &-paragraph {
      max-height: 300px;
      overflow: scroll;
      color: #161a1d;
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 800;

      @include adaptive(small-pc) {
        font-size: 15px;
      }
    }
  }
}

.nonActive {
  animation: card_hide 0.7s ease-in-out;
  display: none;
}

.modal_arrow-img {
  width: 25px;
  height: 25px;
  position: relative;
  top: 5px;
  transition: 0.4s ease-in-out;

  &:hover {
    transform: translate(-9px);
  }
}

.show_modal {
  width: 100px;
  height: 100px;
}

.modal {
  @include flex(row, center, center);
  background-color: #161a1db6;
  font-family: "Pt";
  font-weight: 600;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 3;
  top: 0px;
  left: 0px;

  &__form {
    box-shadow: -2px 0px 79px 23px rgba(251, 251, 251, 0.2);
    border-radius: 1.5rem;
    background-color: $true-white;
    padding: 2rem;
    width: 350px;
    height: 320px;
    position: absolute;
    z-index: 4;
    top: 0;
    right: 0%;

    &-title {
      font-size: 30px;
      font-family: "Pt";
      font-weight: 800;
      color: #e12424;
      text-align: center;
      margin-bottom: 15px;
    }

    &-form {
      @include flex(column, 0, 0);
      gap: 15px;
    }

    &-input {
      font-family: "Pt";
      font-weight: 800;
      color: #1d1d1d;
      height: 40px;
      border: 3px solid #b4b4b4;
      border-radius: 20px;
      padding: 8px;
      outline: 0;
      transition: 0.6s ease-in-out;

      &:focus {
        background-color: #ececec;
      }
    }

    &-button__box {
      @include flex(row, center, 0);
      margin-top: 40px;
    }

    &-button {
      border: 0;
      width: 70%;
      color: $light-red;
      background-color: #eeeeee;
      border-radius: 1.5rem;
      padding: 15px 20px 15px 20px;
      transition: 0.6s ease-in-out;

      &:hover {
        color: $true-white;
        background-color: $light-red;
      }

      &-text {
        font-family: "Pt";
        font-weight: 800;
        font-size: 15px;
        letter-spacing: 2px;
      }
    }
  }
}

.pagination {
  @include flex(row, center, center);
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 20px;
  color: #e12424;
  text-decoration: underline;
  gap: 10px;

  @include adaptive(small-pc) {
    @include flex(column, center, center);
  }
}

.footer {
  @include container(2%, 2%, 0, padding);
  @include flex(row, space-between, center);
  background-color: #161a1d;
  height: 200px;
  gap: 15rem;
  color: $true-white;

  @include adaptive("medium-pc") {
    gap: 10%;
  }

  a {
    text-decoration: none;
    color: $true-white;

    @include adaptive("mobile") {
      font-size: 10px;
    }
  }

  img {
    width: 30px;
    height: 30px;

    @include adaptive("mobile") {
      width: 15px;
      height: 15px;
    }
  }

  &__logo {
    img {
      width: 150px;
      height: 60px;

      @include adaptive(table) {
        display: none;
      }
    }
  }

  &__company {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &-title {
      font-size: 25px;

      @include adaptive(table) {
        font-size: 15px;
      }
    }

    &-text {
      font-size: 20px;

      @include adaptive(table) {
        font-size: 10px;
      }
    }
  }

  &__contacts {
    @include flex(column, center, center);
    gap: 30px;
  }

  &__button {
    padding: 20px;
    transition: 0.7s ease-in-out;
    background-color: $red-white;
    border-radius: 5px;

    @include adaptive("mobile") {
      padding: 5px;
      @include flex(row, center, center);
    }

    a {
      color: black;
    }

    &:hover {
      background-color: black;
      a {
        color: $red-white;
      }
    }
  }
}
.telegram {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Vk {
  display: flex;
  align-items: center;
  gap: 10px;
}

.telephone {
  display: flex;
  align-items: center;
  gap: 10px;
}

.controls {
  background-color: $true-white;
  border: none;

  @include adaptive(table) {
    margin-top: 510px;
  }
}

.tour {
  border: solid rgb(235, 235, 235) 1px;
  border-radius: 10px;
  padding: 24px 100px;
  color: $light-red;
  background-color: #fdfdfd;
  box-shadow: 4px 5px 0px rgba(34, 60, 80, 0.2);
  margin-top: 50px;
  transition: 0.7s ease-in-out;

  &:hover {
    background-color: #e12424;
    color: $true-white;
  }

  &-text {
    font-size: 20px;

    &-link {
      @include adaptive(table) {
        margin-top: 250px;
      }
    }
  }
}

.burger__meny {
  transition: 0.7s ease-in-out;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  z-index: 5;
  background-color: #161a1dc5;
  opacity: 0;

  &_block {
    @include flex(column, 0, center);
    width: 20%;
    height: 60%;
    background-color: $true-white;
    border-left: 5px solid $light-red;
    border-radius: 5px 0px 0px 5px;
    position: absolute;
    top: 0px;
    right: 0px;

    @include adaptive(mobile) {
      width: 50%;
    }

    &_header {
      width: 100%;
      @include flex(row, space-between, center);

      &-title {
        margin-left: 10px;
        font-size: 30px;
        letter-spacing: 3px;
        font-family: "Pt";
        font-weight: 800;
        color: $light-red;
      }

      &-img_second {
        width: 25%;
        height: 25%;
      }
    }

    &_list {
      @include flex(column, 0, center);
      margin-top: 30%;
      gap: 15%;
      height: 80%;

      &-link {
        font-size: 30px;
        letter-spacing: 3px;
        font-family: "Pt";
        font-weight: 800;
        text-decoration: none;
        color: #803939;
        font-size: 25px;
        transition: 0.4s ease-in-out;

        &:hover {
          color: $light-red;
        }
      }
    }
  }
}

.route {
  opacity: 0;
  transition: all 0.4s ease-in-out;

  @include adaptive("mobile") {
    position: relative;
    top: -400;
    animation: map_close 0.7s ease-in-out;
    animation-fill-mode: forwards;
  }
}

.map_small {
  width: 40vw;
  height: 80vh;
  @include adaptive("mobile") {
    width: auto;
  }
}

.mapbig {
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 80vh;
  transition: all 0.4s ease-in-out;

  @include adaptive("mobile") {
    width: auto;
  }
}

.no-route {
  opacity: 1;
  transition: all 0.4s ease-in-out;

  @include adaptive("mobile") {
    z-index: 1;
    animation: map_open 0.7s ease-in-out;
  }
}

.arrow__map_hiden {
  position: absolute;
  right: 0px;
  transition: 0.4s ease-in-out;
  transform: rotate(-180deg);

  @include adaptive("mobile") {
    transform: rotate(90deg);
    position: relative;
    right: auto;
    top: 0px;
    animation: arrow_map_close 0.7s ease-in-out;
    animation-fill-mode: forwards;
  }

  img {
    width: 50px;
    height: 50px;
  }
}

.arrow__map {
  transition: 0.4s ease-in-out;

  @include adaptive("mobile") {
    transition: 0.4s ease-in-out;
    animation: arrow_map_open 0.7s ease-in-out;
    transform: rotate(-90deg);
  }

  img {
    width: 50px;
    height: 50px;
  }
}

.arrow-reverse {
  transform: rotate(180deg);
  transition: 0.4s ease-in-out;

  &:hover {
    transform: translateX(20px) rotate(180deg);
  }
}
.arrow {
  transition: 0.4s ease-in-out;

  &:hover {
    transform: translateX(-20px);
  }
}

.base {
  display: none;
}

.bvis {
  animation: modal-open 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

.bhide {
  animation: burger-meny-hide 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

.img__close {
  position: absolute;
  width: 50px;
  height: 40px;
  transform: rotate(45deg);
  right: 0px;
}

.rotate {
  transform: rotate(-45deg);
}

.owerflo {
  overflow: hidden;
}

.noover {
  overflow: auto;
}

.hide {
  display: none;
}

.activeLink {
  display: flex;
}

.activePage {
  display: flex;
}

.hidePage {
  display: none;
}

.burger {
  position: absolute;
  top: 20px;
  right: 20px;
}

.active__loading {
  @include flex(row, center, center);
}

.loading-complete {
  animation: loading-complete-animation 0.7s ease-in-out;
  display: none;
}

.loading {
  overflow-x: hidden;
  background-color: $true-white;
  width: 99vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  &__circle {
    width: 50px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    animation: loading-active 0.7s ease-in-out infinite;
  }
}

.cube {
  width: 25px;
  height: 25px;
  border-radius: 50px;
}

.first,
.four {
  background-color: $light-red;
}

.second,
.third {
  background-color: $true-white;
}

@keyframes burger-meny {
  0% {
    display: none;
  }

  1% {
    opacity: 0;
  }

  100% {
    display: flex;
    opacity: 1;
  }
}

@keyframes modal-open {
  0% {
    display: none;
  }

  1% {
    display: flex;
    flex-direction: column;
    opacity: 0;
  }

  100% {
    display: flex;
    flex-direction: column;
    opacity: 1;
  }
}

@keyframes loading-complete-animation {
  0% {
    @include flex(row, center, center);
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}

@keyframes loading-active {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes burger-meny-hide {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    display: none;
  }
  100% {
    display: none;
  }
}

@keyframes card_visible {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes card_hide {
  0% {
    display: flex;
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes map_close {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-400px);
    position: relative;
    top: -400px;
  }
}

@keyframes arrow_map_close {
  0% {
    opacity: 1;
  }

  100% {
    transform: translateY(-370px) rotate(-270deg);
    position: relative;
    top: -10px;
  }
}

@keyframes card_hide {
  0% {
    display: flex;
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes map_open {
  0% {
    opacity: 0;
    transform: translateY(-400px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes arrow_map_open {
  0% {
    opacity: 1;
    transform: translateY(-370px);
  }

  100% {
    opacity: 1;
    transform: rotate(270deg);
  }
}
