@import "../../global.scss";
@import "../../components_styles/modal_styles/modal_styles.scss";
@import "../../components_styles/loading_styles/loading_styles.scss";
@import "../../components_styles/burger_styles/burger_styles.scss";
@import "../../components_styles/footer_styles/footer_styles.scss";

@font-face {
  font-family: Pt;
  src: url("../../../assets/fonts/PTSans-Regular.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Pt;
  src: url("../../../assets/fonts/PTSans-Bold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: Pt;
  src: url("../../../assets/fonts/PTSans-Bold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: Montserrat;
  src: url("../../../assets/fonts/MontserratAlternates-ExtraBold.ttf");
  font-weight: 800;
}

.header {
  height: 10vh;

  &__button {
    border: none;
    background-color: $true-white;
    border-radius: 10px;
    padding: 10px;

    &-link {
      text-decoration: none;
      color: #e12424;
    }
  }

  &__container {
    @include flex(row, space-between, center);
    @include container(2%, 2%, 0, padding);
    height: 100%;
  }

  &__logo {
    img {
      width: 120px;
      height: 50px;
    }
  }

  &__links {
    @include flex(row, space-between, center);
    height: 100%;

    @include adaptive(small-pc) {
      display: none;
    }
  }

  &__menu {
    @include flex(row, center, center);
    height: 100%;
  }

  &__buttons {
    @include flex(row, space-between, center);
    gap: 10px;
  }

  &__burger {
    &-img {
      width: 50px;
      height: 50px;
    }
  }

  &__link {
    @include flex(row, center, center);
    padding: 25px;
    text-decoration: none;
    color: $red-white;
    font-size: 20px;
    letter-spacing: 5px;
    height: 100%;
    transition: 0.4s ease-in-out;

    &:hover {
      color: $light-red;
    }
  }
}

.about__background_main {
  height: 100vh;
  background: url("../../../assets/img//4562a1a6-99c7-40ee-bbff-9ca955979e7e.png")
    no-repeat center center/cover;
  transition: all 0.4s ease-in-out;
}

.zloiEKB {
  height: 100vh;
  background: url("../../../assets/img//besov.webp") no-repeat center
    center/cover;
  transition: all 0.4s ease-in-out;
}

.about__city {
  @include container(5%, 5%, 13%, padding);
  @include flex(column, 0, center);
  gap: 3rem;

  &__title {
    font-size: 100px;
    color: #e5383b;
    letter-spacing: 10px;

    @include adaptive(table) {
      font-size: 50px;
    }

    @include adaptive("mobile") {
      font-size: 28px;
    }
  }

  &__text {
    max-width: 500px;
    font-size: 30px;
    color: $red-white;
    letter-spacing: 5px;
    text-align: center;

    @include adaptive(table) {
      font-size: 20px;
    }
  }
}

.big_map {
  @include flex(row, space-around, 0);
  @include container(5%, 5%, 5%, padding);
  overflow: hidden;
  padding-bottom: 5%;

  @include adaptive("mobile") {
    @include flex(column, space-around, 0);
  }

  &__hide {
    @include flex(row, space-between, center);
    transition: 0.4s ease-in-out;

    @include adaptive("mobile") {
      height: 470px;
      @include flex(column, space-between, center);
    }
  }

  &__text {
    @include flex(column, center, center);
    text-align: center;
    gap: 30px;
    max-width: 60vw;
    transition: 0.4s ease-in-out;

    @include adaptive(small-pc) {
      max-width: 30vw;
    }

    @include adaptive("mobile") {
      max-width: 100vw;
      width: auto;
    }

    &-title {
      color: #e12424;
      font-family: Montserrat;
      font-size: 40px;
      font-weight: 800;

      @include adaptive(small-pc) {
        font-size: 20px;
      }
    }

    &-paragraph {
      max-height: 300px;
      overflow: scroll;
      color: #161a1d;
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 800;

      @include adaptive(small-pc) {
        font-size: 15px;
      }
    }
  }
}

.route {
  opacity: 0;
  transition: all 0.4s ease-in-out;

  @include adaptive("mobile") {
    position: relative;
    top: -400;
    animation: map_close 0.7s ease-in-out;
    animation-fill-mode: forwards;
  }
}

.map_small {
  width: 40vw;
  height: 80vh;
  @include adaptive("mobile") {
    width: auto;
  }
}

.mapbig {
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 80vh;
  transition: all 0.4s ease-in-out;

  @include adaptive("mobile") {
    width: auto;
  }
}

.no-route {
  opacity: 1;
  transition: all 0.4s ease-in-out;

  @include adaptive("mobile") {
    z-index: 1;
    animation: map_open 0.7s ease-in-out;
  }
}

.arrow__map_hiden {
  position: absolute;
  right: 0px;
  transition: 0.4s ease-in-out;
  transform: rotate(-180deg);

  @include adaptive("mobile") {
    transform: rotate(90deg);
    position: relative;
    right: auto;
    top: 0px;
    animation: arrow_map_close 0.7s ease-in-out;
    animation-fill-mode: forwards;
  }

  img {
    width: 50px;
    height: 50px;
  }
}

.arrow__map {
  transition: 0.4s ease-in-out;

  @include adaptive("mobile") {
    transition: 0.4s ease-in-out;
    animation: arrow_map_open 0.7s ease-in-out;
    transform: rotate(-90deg);
  }

  img {
    width: 50px;
    height: 50px;
  }
}

.arrow-reverse {
  transform: rotate(180deg);
  transition: 0.4s ease-in-out;

  &:hover {
    transform: translateX(20px) rotate(180deg);
  }
}

.arrow {
  transition: 0.4s ease-in-out;

  &:hover {
    transform: translateX(-20px);
  }
}

@keyframes card_visible {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes card_hide {
  0% {
    display: flex;
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes map_close {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-400px);
    position: relative;
    top: -400px;
  }
}

@keyframes arrow_map_close {
  0% {
    opacity: 1;
  }

  100% {
    transform: translateY(-370px) rotate(-270deg);
    position: relative;
    top: -10px;
  }
}

@keyframes card_hide {
  0% {
    display: flex;
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes map_open {
  0% {
    opacity: 0;
    transform: translateY(-400px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes arrow_map_open {
  0% {
    opacity: 1;
    transform: translateY(-370px);
  }

  100% {
    opacity: 1;
    transform: rotate(270deg);
  }
}
